body{
    margin: 0;
    background: #181818;
}
 
.principal{
    display:flex;
    margin: 0; 
    
}

.principal div{
    display: flex; 

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reproduccion{
    display: flex; 
    margin: 0; 
    flex-direction: column;

}

.reproduccion div{
    display: flex; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
    padding-left: 25px;
}

#christian{
    padding-top: 25px;
}

#name{
    font-size: 16px;
    height: 47px;
}

#Autor{
    color: #AAAAAA;
    font-size: 16px;
}

#video{
    padding-top: 25px;
}

.video div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-left: 25px;
}

