body{
    margin: 0;
    background: #181818;
    color: white;
}

.principal{
    display: flex; 
    margin: 0;
    flex-direction: column;
}

.principal div{
    align-items: center;
    justify-content: center;
}


.contenedor1{
    display: flex;
    margin:0; 
    flex-direction: row;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.contenedor1 div{
    padding-right: 10px;
}

.Christian{
    padding-left: 22px;
}

.contenedor1 img{
    padding-top: 19px;
    padding-bottom: 5px;
}

.contenedor1 p{
    color: #AAAAAA;
}

.contenedor1 a{
    text-decoration: none; 
    color: white; 
}

/*Segunda imagen; */
.ed{
    display: flex; 
    margin: 0; 
}

.ed div{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}

#edTeam{
    width: 35px;
    padding-top: 7px;
}

/*Tercera imágen;*/
.icons{
    display: flex; 
    margin: 0; 
}

.icons div{
    display: flex; 
    flex-direction: row;

    align-items: center;
    justify-content: center; 
}

#soulIcon{
    padding-top: 7px;
    padding-bottom: 8px;
}

/*Cuarta imagen*/
.icon{
    display: flex;
    margin: 0; 
}

.icon div{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
}



#kygoIcon{
    padding-top: 7px;
}

.separador{
    padding-top: 20px;
}

#noticias{
    border: none; 
    background-color: #383838;
    height: 3px;
    width: 1200px;
}

#titleNoticias{
    padding-top: 25px;
    padding-left: 20px; 
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

/*Contenedor2*/
.contenedor2{
    display: flex; 
    margin: 0; 
    flex-direction: row;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 20px;
    font-size: 15px;
}

.contenedor2 a{
    text-decoration: none;
    color: white;
}

.contenedor2 p{
    color: #AAAAAA;
}

.contenedor2 div{
    align-items: center; 
    justify-content: center; 
    padding-right: 10px;

}


.caracol{
    padding-left: 22px;
}

.iconCaracol{
    display: flex; 
    margin: 0; 
    flex-direction: row; 
    padding-top: 15px;
}

.elTiempo{
    display:flex;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}


.noti{
    display:flex;
    margin: 0;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.noti a{
    padding-right: 20px;
}

.tele{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    
}

.tele a{
    padding-right: 10px;
}


